<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Mini-TP JavaScript : Calculatrice</title>
    <script src="main.js"></script>
    <style>
        :root { color-scheme: dark; }
    </style>
</head>
<body>
    <h1>Calculatrice JavaScript</h1>
    <form id="calculator">
        <input type="number" step="1" name="num1" placeholder="Nombre 1" value="3">
        +
        <input type="number" step="1" name="num2" placeholder="Nombre 2" value="5">
        <button>Calculer</button>
        = <output name="résultat">?</output>
    </form>
</body>
</html>